.report-page-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
  app-navigation {
    flex: 0 0 64px;
    overflow-y: auto;
  }
  
  app-left-side-bar {
    flex: 0 0 327px;
    overflow-y: auto;
    transition: flex-basis 0.3s ease;

    &:has(.sidebar-container.collapsed) {
      flex: 0 0 48px;
    }
  }
  
  app-report {
    flex: 1;
    overflow: auto;
  }
  
  app-right-side-bar {
    flex: 0 0 327px;
    overflow-y: auto;
  }
}

// Responsive adjustments
@media (max-width: 1440px) {
  .report-page-container {
    app-navigation {
      flex: 0 0 56px;
    }

    app-left-side-bar,
    app-right-side-bar {
      flex: 0 0 280px;
    }

    app-left-side-bar:has(.sidebar-container.collapsed) {
      flex: 0 0 48px;
    }
  }
}

@media (max-width: 1024px) {
  .report-page-container {
    app-navigation {
      flex: 0 0 56px;
    }

    app-left-side-bar,
    app-right-side-bar {
      flex: 0 0 250px;
    }

    app-left-side-bar:has(.sidebar-container.collapsed) {
      flex: 0 0 48px;
    }
  }
}

@media (max-width: 768px) {
  .report-page-container {
    app-navigation {
      flex: 0 0 48px;
    }

    app-left-side-bar,
    app-right-side-bar {
      flex: 0 0 200px;
    }

    app-left-side-bar:has(.sidebar-container.collapsed) {
      flex: 0 0 48px;
    }
  }
}

