.report-page-container {
  display: flex;
  height: 100vh;
  width: 100%;
  
  app-left-side-bar {
    flex: 0 0 250px;
    background-color: #f5f5f5;
  }
  
  app-report {
    flex: 1;
    overflow: auto;
  }
  
  app-right-side-bar {
    flex: 0 0 250px;
    background-color: #f5f5f5;
  }
}

